{% extends 'mailings/base.html' %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">
                        <form method="post">
                            {% csrf_token %}
                            <p>
                                Хотите удалить эту рассылку "{{ object.title }}"?
                            </p>
                            <button type="submit" class="btn btn-primary">Подтвердить</button>
                            <a href="{% url 'mailings:list' %}" class="btn btn-warning">Отмена</a>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}