{% extends 'mailings/base.html' %}
<title>Магазин</title>
{% block content %}
<h1 class="text-center">Сообщения</h1>
<div class="col-12  mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'mailings:message_create' %}">Создать сообщение</a>
    {% endif %}
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for object in object_list %}
            <div class="col-md-5">
                <div class="card mb-5 box-shadow">
                    <div class="card-body">
                        <h4 class="my-0 fw-normal">{{ object.title }}</h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Текст сообщения: {{ object.content }}</li>

                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'mailings:message_update' object.pk %}">
                                    Редактировать
                                </a>
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'mailings:message_delete' object.pk %}">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}