{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6 box-shadow">
                    <img src="{{ object.preview | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">
                        <h2>{{ object.title}}</h2>
                        <p class="card-text">Содержание: {{ object.content }}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-primary"
                                   href="{% url 'blogs:list' %}">Назад</a>
                            </div>
                            <small class="text-muted">{{ object.created_at }}</small>
                        </div>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.country }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}