{% extends 'mailings/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                        <h3 class="card-title">
                            Введите email для отправки нового пароля
                        </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}