{% extends 'mailings/base.html' %}
<title>Список пользователей</title>
{% block content %}
<h1 class="text-center">Список пользователей</h1>
<div class="col-12  mb-5">
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Статус</th>
                <th scope="col">Персонал</th>
                <th scope="col">Изменение сатуса</th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_staff }}</td>
                <td>{% if perms.users.set_active %}
                    {% if user.is_active %}
                    <a href="{% url 'users:toggle_activity' user.pk %}"
                       class="btn btn-sm btn-outline-danger">Деактивировать</a>
                    {% else %}
                    <a href="{% url 'users:toggle_activity' user.pk %}"
                       class="btn btn-sm btn-outline-success">Активировать</a>
                    {% endif %}
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}